-
  const nav = ['Home', 'About', 'Services', 'Contact']

header.header
  .header__wrapper
    a.brand.header__brand(href="#") brand
    nav.nav.header__nav
      ul.nav__list
        for item in nav
          li.nav__item
            a(href="#").nav__link= item
    div.header__left-block
      a.button.header__button(href="#") button
      include ../../components/hamburger/hamburger.pug