-
  const nav = ['Home', 'About', 'Services', 'Contact']

header.header
  .header__wrapper
    .header__hamburger
      include ../../components/hamburger/hamburger.pug
    nav.nav.header__nav
      ul.nav__list
        for item in nav
          li.nav__item
            a(href="#").nav__link= item
    a.brand.header__brand(href="#") brand
    .header__button-wrapper
      a.button.header__button(href="#") button