.swiper
	.swiper-wrapper
		.swiper-slide
			.slide-content
				+image('img/1','1180','472','Горы')
		.swiper-slide
			.slide-content
				+image('img/1','1180','472','Горы')
		.swiper-slide
			.slide-content
				+image('img/1','1180','472','Горы')
		.swiper-slide
			.slide-content
				+image('img/1','1180','472','Горы')
	button.btn.swiper-button-prev(aria-label="Предыдущий слайд" type="button")
		+icon('arrow')(class="slider-arrow")
	button.btn.swiper-button-next(aria-label="Следующий слайд" type="button")
		+icon('arrow')(class="slider-arrow")