.form-wrapper {
  max-width: 40rem;
}
.form {
  &__line {
    position: relative;
    margin-bottom: .8rem;
  }

  &__input {
    height: 5.6rem;
  }

  &__input,
  &__textarea {
    background-color: transparent;
    border-radius: .4rem;
    border: .1rem solid #ebecef;
    width: 100%;

    padding: 1.6rem;
    transition: border 225ms ease-in-out;
    color: $dark;
    font-size: 1.6rem;

    &:hover {
      border: .1rem solid #dddfe3;
    }

    &:focus {
      border: .1rem solid #3fc7f3;
    }
  }

  &__textarea {
    resize: none;
    height: 10.2rem;
  }

  &__block-btn {
    padding-top: 3.2rem;
  }
}

/****** Validation messages ******/

.form .required .form__input {
  border-color: #b54300;
}

.form__line.required .error-text {
  color: #b54300;
  opacity: 1;
  position: absolute;
  bottom: -.1rem;
  right: 2rem;
  font-size: 1rem;
  animation-name: show;
  animation-duration: 225ms;
  animation-timing-function: ease-in-out;
  pointer-events: none;
}

.form__line.required .hide-error-text {
  color: #b54300;
  opacity: 0;
  transition: opacity 195ms ease-in-out;
}

.form__line.success .form__input {
  border-color: green;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}