.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $md2) {
    display: block;
    max-width: 100%;
  }

  & .row-table:not(:last-child) {
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 0.1rem;
      background-color: #f7f7f8;
      left: 0;
      bottom: 0;
    }
  }
}

.row-table.header-table {
  @media (max-width: $md2) {
    display: none;
  }
}

.row-table {
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: relative;
  text-align: left;
  width: 100%;

  @media (max-width: $md2) {
    display: block;
    margin-bottom: 2rem;
  }
}

.row-table .cell-table:before {
  @media (max-width: $md2) {
    margin-bottom: 0.5rem;
    content: attr(data-title);
    min-width: 9.8rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $grey;
    display: block;
    font-family: var(--p-bold);
  }
}

.cell-table--first,
.header-table__cell:nth-of-type(1) {
  max-width: 22rem;
  width: 100%;
  flex-shrink: 0;

  @media (max-width: $md3) {
    max-width: 16rem;
  }

  @media (max-width: $md2) {
    max-width: 100%;
  }
}

.cell-table--first {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-family: var(--p-bold);
}

.cell-table:nth-of-type(2),
.header-table__cell:nth-of-type(2) {
  padding-left: 2.2rem;
  padding-right: 6.2rem;
  flex-grow: 1;

  @media (max-width: $md3) {
    padding-right: 2.2rem;
  }

  @media (max-width: $md2) {
    padding-right: 0;
    padding-left: 0;
  }
}

.cell-table:nth-of-type(2) {
  text-align: left;
}

.cell-table:nth-of-type(3),
.header-table__cell:nth-of-type(3) {
  max-width: 16rem;
  width: 100%;
  flex-shrink: 0;

  @media (max-width: $md3) {
    max-width: 12rem;
  }

  @media (max-width: $md2) {
    max-width: 100%;
  }
}

.cell-table {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: $dark;
}

.header-table__cell {
  border-bottom: 0.2rem solid $grey;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $grey;
  background: transparent;
  font-family: var(--p-bold);
  padding-bottom: 1.2rem;
}

.cell-table:not(.header-table__cell) {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @media (max-width: $md2) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (max-width: $md2) {
    padding-top: 0.5rem;
  }
}
