.table
	.row-table.header-table
		.cell-table.header-table__cell
			| Название
		.cell-table.header-table__cell
			| Описание услуги
		.cell-table.header-table__cell
			| Стоимость
	.row-table
		.cell-table.cell-table--first(data-title='Название')
			| Разработка ПО
		.cell-table(data-title='Описание услуги')
			| Профессиональная разработка программ
		.cell-table(data-title='Стоимость')
			| от 460 000 ₽
	.row-table
		.cell-table.cell-table--first(data-title='Название')
			| 3d моделирование
		.cell-table(data-title='Описание услуги')
			| Скульптинг / Топология / Текстурирование / Low Poly / PBR графика
		.cell-table(data-title='Стоимость')
			| 750 ₽ / час
	.row-table
		.cell-table.cell-table--first(data-title='Название')
			| Услуги программиста
		.cell-table(data-title='Описание услуги')
			| Услуги программиста уровня Senior и Middle. UE4 / CryEngine 3 / Unity
		.cell-table(data-title='Стоимость')
			| 1200 ₽ / час