.nav {
  background-color: transparent;
  display: flex;
  align-items: center;

  @media (max-width: $md2) {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transform: translateX(-101%);
  }

  &__list {
    display: flex;
    align-items: center;

    @media (max-width: $md2) {
      height: 100%;
      width: 100%;
      flex-direction: column;
      place-content: center;
      justify-content: center;
      padding-left: 5.8rem;
      background-color: $white;
      cursor: default;
    }

    @media screen and (max-width: 480px) {
      padding-left: 2rem;
    }

    & > *:not(:last-child) {
      margin-right: 5.6rem;
      @media (max-width: $md2) {
        margin-right: 3rem;
      }

      @media (max-width: $md2) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }

  &__link {
    color: $dark;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: green;
    }

    &:focus {
      outline: 2px solid red;
      outline-offset: 1px;
    }

    &:active {
      color: red;
    }

    @media (max-width: $md2) {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }
}

.hamburger_active .nav {
  transform: translateX(0);
  pointer-events: auto;
  z-index: 99;
  cursor: pointer;
  animation: move 225ms ease;
}

.hamburger_inactive .nav {
  animation: moveOut 105ms ease;
}

@keyframes move {
  0% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-101%);
  }
}
