.quiz {
  max-width: 400px;
  min-height: 250px;
  width: 100%;
  background-color: #e3e3e3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.quiz__btn-question {
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: gold;
  transition: all 225ms ease;
}

.quiz__btn-question:active {
  background-color: lightcyan;
}

.quiz__btn-question.selected {
  background-color: lightcyan;
}

.quiz__btns {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.quiz__item {
  display: none;
}

.quiz__item.active {
  display: block;
}

.quiz__btn-prev,
.quiz__btn-next {
  color: white;
  background-color: skyblue;
  cursor: pointer;
  border: 0;
  padding: 10px;
}

.quiz__btn-prev:active,
.quiz__btn-next:active {
  background-color: darkturquoise;
}

.quiz__btn-prev.disabled,
.quiz__btn-next.disabled {
  cursor: auto;
  pointer-events: none;
  background-color: gray;
}

.quiz-error {
  color: red;
}

.quiz__pagination {
  display: flex;
  & > * {
    margin-right: 1rem;
  }
}

.quiz__pagination-item {
  display: block;
  flex: 1;
  height: 1rem;
  background-color: gray;
  transition: all 225ms ease;
}

.quiz__pagination-item.active {
  background-color: red;
}

.quiz__finish {
  display: none;

  &.active {
    display: block;
  }
}

.quiz.hide-elements {
  & .quiz__pagination,
  & .quiz__btns,
  & .quiz__list {
    display: none;
  }

  & .quiz__finish {
    display: block;
  }
}

.quiz__finish-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.print-text__wrapper {
  display: flex;
  flex-direction: column;
}

.print-text__item {
  color: gray;
}
