.quiz {
  max-width: 400px;
  min-height: 250px;
  width: 100%;
  background-color: #e3e3e3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz__list {
  min-height: 10rem;
}

.quiz__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.quiz__btn-question {
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: gold;
  transition: all 225ms ease;
}

.quiz__btn-question:active {
  background-color: lightcyan;
}

.quiz__btn-question.selected {
  background-color: lightcyan;
}

.quiz__list {
  display: flex;
  background-color: inherit;
}
.quiz__item {
  display: none;
  flex-direction: column;
  opacity: 0;

  flex-shrink: 0;
  width: 100%;
  background-color: inherit;
}

.quiz__item.active {
  display: flex;
  opacity: 1;
  animation: showEl 0.3s ease;
}

// progress start
.quiz-progress {
  display: flex;
  margin-top: 2rem;
  height: 1rem;
}

.quiz-progress--line {
  background-color: gray;
  position: relative;
  .quiz-progress__fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 0%;
    background-color: red;
    transition: width 0.3s ease;
  }
}

.quiz-progress--step {
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  .quiz-progress__item {
    overflow: hidden;
    position: relative;
    flex: 1;
    background-color: gray;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: all 0.3s ease;
      background-color: red;
    }

    &.active {
      &::before {
        transform: translateX(0%);
      }
    }
  }
}

// progress end

.quiz.error {
  & .error__message {
    color: red;
  }
}

.quiz__prev,
.quiz__next {
  color: white;
  background-color: skyblue;
  cursor: pointer;
  border: 0;
  padding: 10px;
}

.quiz__prev:active,
.quiz__next:active {
  background-color: darkturquoise;
}

.quiz__prev.disabled,
.quiz__next.disabled {
  cursor: auto;
  pointer-events: none;
  background-color: gray;
}

.quiz.hide-elements {
  & > *:not(.quiz__finish) {
    display: none;
    opacity: 0;
  }

  & .quiz__finish {
    display: block;
    opacity: 1;
    animation: showEl 0.3s ease;
  }
}

.quiz__finish {
  display: none;
  opacity: 0;
}

.quiz__finish-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@keyframes showEl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quiz__success {
  display: none;
  opacity: 0;
}

.quiz.success {
  & > *:not(.quiz__success) {
    display: none;
    opacity: 0;
  }

  & .quiz__success {
    display: block;
    opacity: 1;
    animation: showEl 0.3s ease;
  }
}
