$height: 30px;

.select {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  max-width: 35rem;

  &.select-open {
    z-index: 1;

    & .select__backdrop {
      display: block;
    }
  }

  &.select-open .select__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &.select-close .select__options {
    opacity: 0;
    transition: opacity 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  &.select-open .arrow {
    transform: translateY(-50%) rotate(-90deg);
  }

  &__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1.4rem 2.2rem;
    color: var(--black);
    background-color: $bar;
    border-radius: 0;
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $grey;
    }

    &:focus {
      outline: 2px solid red;
      outline-offset: 1px;
      z-index: 1;
    }

    &:active {
      background-color: $primary;
    }
  }

  &__options {
    position: absolute;
    display: block;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $secondary;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    & > *:not(:last-child) {
      border-bottom: 0.1rem solid $grey;
    }
  }

  &__option {
    position: relative;
    display: block;
    width: 100%;
    padding: 1rem 2.2rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: $height;
    color: $white;
    background-color: $secondary;
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    cursor: pointer;

    @media (max-width: $md3 + px) {
      font-size: 1.8rem;
      line-height: 5rem;
    }

    &:hover {
      background-color: $grey;
      color: $black;
    }

    &:focus {
      outline: 2px solid red;
      outline-offset: 1px;
      z-index: 1;
    }

    &:active {
      background-color: $primary;
      color: $black;
    }

    &.selected {
      background-color: $primary;
    }
  }

  & .arrow {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 225ms ease;
  }
}

.select .forNavigationWithKeyboard {
  @extend .sr-only;
}
