-
	const select = [
		{ h: 'Android', selected: true },
		{ h: 'Windows' },
		{ h: 'Linux' },
		{ h: 'Mac' },
		{ h: 'PC' },
		{ h: 'Phone' },
	]

.select
	.select__backdrop
	button.btn.select__trigger(type="button")
		span.select__trigger-text Android
		+icon('arrow')(class="arrow")
	ul.select__options
		each d in select
			if d.selected
				li.select__item
					button(type='button').btn.select__option.selected=d.h
			else
				li.select__item
					button(type='button').btn.select__option=d.h