#error.modal.modal-error
	.modal__wrap
		.modal__window
			.modal__top
				button.btn.btn--icon.modal__icon-close-wrapper.modal__close(aria-label="Закрыть модальное окно" type="button")
					+icon('close')(class="modal__icon-close")
			.modal-success__content
				span.modal-error__title Что-то пошло не так :(