//- заменитьтолько эту часть -> mCRC2jvNlbU
.video
	.video__link(data-bg=`https://i.ytimg.com/vi/mCRC2jvNlbU/maxresdefault.jpg` data-bg-replace-webp=`https://i.ytimg.com/vi_webp/mCRC2jvNlbU/maxresdefault.webp`)
		button.btn.btn--with-icon.i-svg-youtube.youtube-play(data-youtube-video="mCRC2jvNlbU", data-frame-title="Пример", aria-label="Смотреть" type="button")
			+icon-multi('youtube')(class="youtube")