// font-weight helper: // 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


@mixin font($f-name, $f-style, $f-weight, $f-url) {
	@font-face {
		font-family: $f-name;
		font-display: swap;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('woff2');
	}
}

@include font('ProximaNovaRegular', normal, "normal", '../fonts/ProximaNova-Regular.woff2');
@include font('ProximaNovaBold', normal, "bold", '../fonts/ProximaNova-Bold.woff2');
@include font('ProximaNovaLight', normal, 300, '../fonts/ProximaNova-Light.woff2');